# Whitelist mode for paper release
*
!.gitignore
!README.md
!LICENSE
!Soil Prediction/
!Soil Prediction/**
!Soil Generation/
!Soil Generation/**
Soil Prediction/**/__pycache__/
Soil Prediction/**/*.pyc
Soil Generation/**/__pycache__/
Soil Generation/**/*.pyc
